.body{}

.container{

width: 1000px;

height: 600px;

margin: auto;

background: gray;
}

.one{
    width: 33.33%;
    height: 200px;
    box-sizing: border-box;
    padding: 1px;
    float: left;
}
.two{
    width: 50%;
    float: left;
    height: 200px;
    box-sizing: border-box;
}
.three{
    width: 16.67%;
    height: 200px;
    float: left;
    padding: 1px;
    box-sizing: border-box;
}
.four{
    width: 66.66%;
    float: left;
    height: 200px;
    padding: 1px;
    box-sizing: border-box;
}

.red{
    background: #ce3131;
    height: 100%;
}
.green{
    background: green;
    height: 100%;
}
.blue{
    background: blue;
    height: 100%;
}